.portfolio-cards{
  display: flex;
  flex-direction: column;
  background-color: thistle;
  width: 100%;
}

.portfolio-card{
  display: flex;
}

.portfolio-card_video{
  display: flex;
  justify-content: center;
  width: 50%;
}

.portfolio_youtube{
  width: 560px;
  height: 315px;
}